@import url(http://fonts.googleapis.com/css?family=Cedarville+Cursive);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2rem;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 2.5rem; 
  letter-spacing: -0.1rem;
  line-height: 2rem;
  margin-top: 0;
}

h3 {
  letter-spacing: 0rem; 
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  mar
}

p {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  letter-spacing: -0.1rem;

}

a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover, a:focus {
  color: #d7d7d7;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    max-width: 540px;
}

