@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,700);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14pt;
  font-weight: bold;
  line-height: 16pt;
  color: #555555;
  background-color: #060606;
}

h1 {
    color: #fff;
    letter-spacing: -1px;
    font-size: 24pt;
    line-height: 26pt; 
}

h2 {
  color: #B5B5B5;
  font-size: 18pt;
  line-height: 20pt;
  letter-spacing: -0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-bottom: 5px;
  margin-top: 10px;
}

p.meta {
  font-size: 12pt;
  font-weight: 400;
  margin-top: 0px;
}

hr {
    border: 0;
    height: 1px;
    background: #E5E5E5;
    margin-top: 32px;
    margin-bottom: 4px;
}

a:link, a:visited {
  color: #B5B5B5;
  text-decoration: none;
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

a:hover, a:focus {
  color:#00C4FF;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto; 
    max-width: 500px;
}
