@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);
@import url(https://fonts.googleapis.com/css?family=Habibi:400);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Habibi', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.25em;
  color: rgba(0,0,0, 0.7);
  background-color: #fff;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: rgba(0,0,0, 0.8);
  font-size: 2.0em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

a:link, a:visited {
  color: rgba(0,0,0,0.35);
  text-decoration: none;
  border-bottom:1px solid rgba(0,0,0,0.15);
  -moz-transition: color 0.2s ease-in;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

a:hover, a:focus {
  color: rgba(0,0,0,0.15);
}

.sub p {
  font-size: 0.8em;
  font-family: 'Lato', sans-serif;
}

.sub a {
  border-bottom: none;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto; 
    max-width: 420px;
}
